<nav class="navbar grey darken-2">
      <div class="navbar-fixed-logo"><a href="../../index.html"><img src="../../assets/img/logo.png"></a></div>
      <div class="content m-3">
        <a routerLink="/add">
          <i class="material-icons left">add_circle</i><span>Adicionar 'karma'</span>
        </a>
      </div>
     <div class="content m-3">
       <a routerLink="/cep">
         <i class="material-icons left">person</i><span>Descobrir o cep do indivíduo</span>
       </a>
     </div>
</nav>
